.bstc{
    margin-top: 100px;
}
.bstc-head {
    font-family: "Graduate", cursive;
    text-align: center;
    color: white;
    background-color: #053742;
  }
.bstc-intro {
    font-family: "Playball", cursive;
    margin-top: 30px;
    font-size: 1.7rem;
  }
  .winner-img {
    height: 130px;
    width: 130px;
  }
  .bstc-name {
    padding-top: 20px;
    font-family: "Cinzel Decorative", cursive;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }