.heading {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bg-img {
    width: 100%;
    opacity: 0.5;
  }
  .kws {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo {
    width: 7%;
    height: 7%;
    display: inline;
    float: left;
    margin-top: 6px;
    margin-right: 20px;
  }
  .babel-head {
    display: inline;
    font-size: 4vw;
    font-family: "Abril Fatface", cursive;
    color: #0f3057;
  }
  .babel-intro {
    padding: 20px 20px 20px 20px;
    font-size: 2vw;
    font-family: "Antic Slab", serif;
    font-weight: bolder;
    color: #0f3057;
  }

  /*Section - About */
  .abt{
    padding-top: 50px;
  }
  .about{
    padding-top: 30px;
    padding-bottom: 30px;
  
  }
  .controller{
    float: left;
    width: 100px;
    height:100px;
    transform: rotate(20deg);
  }
  .controller1{
    float: right ;
    width: 100px;
    height:100px;
    transform: rotate(20deg);
  }
  .about-head{
    font-family: "Graduate", cursive;
    text-align: center;
    color: white;
    background-color: #053742;
  }
  .about-intro{
    font-family: "Mate SC", serif;
    margin-top: 50px;
  }
  .about-des{
    font-family: "Crimson Text", serif;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
  }